/**
 * TABS
 *
 * -------------------------------------------------------------------------------------------------
 */
.tabs > DIV {
	/*border-top: 1px solid #c7c7c7*/
	margin-top: 10px;
	background: white !important;
	/*border-bottom: 4px solid #E95855 !important;*/
}

.tabs > DIV SPAN {
	border-bottom: 4px solid #E5E5E5 !important;
	color: #ccc !important;
	font-weight: 300;
	line-height: 186px !important;
	display: block;
	text-align: center;
	font-size: 24px;
}

.tabs UL.horizontal {
	list-style: none outside none;
	margin: 0;
}

.tabs LI {
	background: white;
	border-bottom: 4px solid #E5E5E5;
	margin: 0 10px 0 0;
	display: inline-block;
}

.tabs A {
	color: #ccc;
	display: block;
	font-size: 18px;
	font-weight: 300;
	padding: 14px 24px;
	text-decoration: none;
}

.tabs LI:hover {
	background: #a0cac0;
	border-bottom: 4px solid #68a697;
}

.tabs LI:hover A {
	color: white;
}

.active {
	background: #a0cac0 !important;
	border-bottom: 4px solid #68a697 !important;
}

.active A {
	color: white !important;
}

.link {
	color: white;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 48px;
	margin-top: 20px;
	margin-left: 6px;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
	color: inherit;
}

.anchorLink {
	border-bottom: 1px dashed white;
	color: white;
	text-decoration: none;
}

.anchorLink:hover {
	text-decoration: none;
	border-bottom: none;
	color: inherit;
}

.screenshot {
	position: absolute;
	clip: rect(0 0 0 0);
}

.prev,
.next {
	background: white !important;
	color: #a0cac0 !important;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.prev:hover,
.next:hover {
	background: #a0cac0 !important;
	color: white !important;
}

.logo {
	margin-top: -6px;
	margin-right: 10px;
	vertical-align: middle;
}

.button {
	background-color: #a0cac0;
	border: none;
	border-bottom: 4px solid #68a697;
	color: #FFFFFF;
	border-radius: 0;
	font-size: 14px;
	letter-spacing: 2px;
	height: 48px;
	line-height: 48px;
}

.button:hover {
	background: #93b7ae;
	color: #FFF;
	border-bottom-color: #68a697;
}